@charset "UTF-8";

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #222;
  background-color: #f5f4ee;
}

// 省略

/* fish
------------------------------ */
#fish {
  padding: 80px 0 100px;
  color: #222;
  text-align: center;
  background-color: #f5f4ee;
}

#fish .wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

#fish h1 {
  display: block;
  margin: 80px auto 40px;
  padding-bottom: 10px;
  font-size: 60px;
  font-weight: 700;
  text-align:center;
}

#fish article {
  margin: 5%;
  padding: 40px 40px 35px;
  text-align: left;
  border-radius: 20px;
  background-color: #fff;
}

#fish article .text_date {
  font-size: 30px;
}

#fish article h2 {
  margin-bottom: 30px;
  padding-bottom: 12px;
  font-size: 40px;
  line-height: 1.8em;
  border-bottom: 2px solid #d5c800;
}

#fish article .text_content {
  line-height: 2.0em;
  font-size: 26px;
}

table {
  border-collapse: collapse;
  width:90%;
  margin:0 auto;
}
table td{
  border:1px solid #000;
}

